@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');


body {
    min-height: 100vh;
    font-family: "Rubik Bubbles";
    padding: 0;
    margin: 0;

    background-image: url("backpic.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Mountains of Christmas', serif;
}



.container {
    width: 70%;
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.3);
}

hr {
    border: 1px solid grey;
    width: 70%;
}

.second-stat {
    width: 60%;
    display: flex;
    justify-content: space-between;

    >h2>span {
        background: rgb(210,43,43);
        background: linear-gradient(313deg, rgba(210,43,43,1) 32%, rgba(214,106,203,1) 100%);
        padding: 6px;
        border-radius: 10px;
        color: white;
        font-weight: 100;
        letter-spacing: 3px;
    }
}

.calendar {
    margin-top: 30px;
    height: 70vh;
    width: 80%;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 5px;
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 6px;
    
}

.day {
    width: calc(calc(100%/7)-6px);
    background: rgb(210,43,43);
    background: linear-gradient(313deg, rgba(210,43,43,1) 32%, rgba(214,106,203,1) 100%);
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.1s;
    border: 1px dotted black;
}

.day:hover {
    transform: scale(1.1);
}

.day:first-of-type {
    grid-column-start: 5;
}

@media only screen and (max-width: 1300px) {
    .container{
        width: 90%;
    }
    .second-stat {
        flex-direction: column;
        text-align: center;
    }

    .calendar {
        width: 95%;
        height: 80vh;

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .day:first-of-type {
        grid-column-start: 1;
    }
}

@media only screen and (max-width: 790px) {
    .container{
        width: 100%;
    }
    .calendar {
        width: 98%;
        height: 80vh;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .day:first-of-type {
        grid-column-start: 1;
    }
}

@media only screen and (max-width: 465px) {
    body {
        background-size: 1000%;
    }
    
    .calendar {
        width: 98%;
        height: 80vh;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}